@font-face {
  font-family: "Monserrat";
  src: url(..//font/Montserrat-VariableFont_wght.ttf);
}

.header {
  padding: 1rem;
  font-family: "Monserrat";
}

.nav {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}

.nav__a {
  text-decoration: none;
  color: black;
}

.nav__a:hover {
  text-decoration: underline;
}

.home {
  padding: 200px 62px;
}

.none {
  display: none;
}

.active {
  display: flex;
}

.form {
  width: 80%;
  background-color: #f4f9e2;
  color: #22356f;
}

.form__title {
  text-align: center;
  font-family: "Monserrat";
  padding: 1rem 0;
}

form {
  display: flex;
  height: min-content;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
}

.form__user {
  margin-bottom: 10px;
}

#name-inp {
  width: 250px;
}

#send {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background: #f4f9e2;
}

footer {
  font-family: "Monserrat";
  background-color: #92cad2;
  color: #333;
  text-align: center;
  padding: 20px;
}

.footer-content p {
  margin: 5px 0;
}

.footer-content__1 {
  padding-left: 150px;
}