* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Monserrat";
  src: url(..//font/Montserrat-VariableFont_wght.ttf);
}

body {
  width: 100%;
  background-color: #f4f9e2;
}

.header {
  padding: 1rem;
  font-family: "Monserrat";
}

.nav {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.nav__a {
  text-decoration: none;
  color: black;
}

.nav__a:hover {
  text-decoration: underline;
}

.home {
  margin: 0 auto;
  padding: 200px 181px;
}

h1 {
  font-size: 48px;
  color: #22356f;
  padding-bottom: 50px;
}

.home__p {
  width: 403px;
  font-size: 24px;
  color: #22356f;
}

img {
  margin-top: -240px;
  margin-left: 627px;
  width: 850px;
  height: 530px;
  border-radius: 282px;
}

footer {
  font-family: 'Monserrat';
  background-color: #92cad2;
  color: #333;
  text-align: center;
  padding: 20px;
  width: 100%;
}

.footer-content p {
  margin: 5px 0;
}

.footer-content__1 {
  padding-left: 150px;
}