*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Monserrat'; 
    src: url(..//font/Montserrat-VariableFont_wght.ttf); 
}

.header{
    padding: 1rem;
    background-color: #f7edf1;
    font-family: 'Monserrat';
}

.nav{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.nav__a{
    text-decoration: none;
    color: black;
}

.nav__a:hover{
    text-decoration: underline;
}

.main{
    background-color: #f7edf1;
    padding: 1rem;
    font-family: 'Monserrat';
}

.info-wrapper{
    text-align: center;
}

.main__title{
    margin-bottom: 1rem;
}

.paragraph{
    font-size: 20px;
    margin-bottom: 1rem;
}

.law{
    height: 300px;
}

.wrapper{
    
}

.services{
    display: flex;
    margin-bottom: 1rem;
    text-align: left;
    align-items: center;
}

.law__paragraph{
    font-size: 20px;
    margin-bottom: 1rem;
    margin-left: 1rem;
}